- content_for :header do
  %h1.memo_title Home

.box
  .box-header.with-border
    %h2.box-title Databases

  .box-body
    %table.table.table-hover.table-bordered.table-striped{ role: "grid" }
      %thead
        %tr
          %th Database
          %th Description
          %th Tables
      %tbody
        - @database_memos.each do |database_memo|
          %tr
            %td
              = link_to database_memo.name, database_memo

              - unless database_memo.linked?
                %i.fa.fa-exclamation-triangle{ data: { toggle: "tooltip", placement: "bottom", title: "There is no linked data sources." } }
            %td
              = database_memo.description.truncate(30)
            %td
              = database_memo.table_memos.map(&:name).join(", ").truncate(300)
