- content_for :title, "Dmemo"
- content_for :header do
  .row.mb-2
    .col
      %h1.m-0.text-nowrap Home

.card
  .card-header
    %h2.card-title Databases

  .card-body.p-0
    .table-responsive
      %table.table.table-hover.table-bordered.table-striped{ role: "grid" }
        %thead
          %tr
            %th.col-4 Database
            %th Description
            %th Tables
        %tbody
          - @database_memos.each do |database_memo|
            %tr
              %td.truncate-td
                = link_to database_memo.name, database_memo_path(database_memo.name)
                - unless database_memo.linked?
                  %i.fas.fa-triangle-exclamation{ data: { toggle: "tooltip", placement: "bottom", title: t("unlinked_database") } }
              %td.truncate-td
                - if database_memo.description.present?
                  = database_memo.description_text.truncate(200)
              %td.truncate-td
                = database_memo.schema_memos.map(&:table_memos).flatten.map(&:name).join(", ").truncate(200)

.card
  .card-header
    %h2.card-title Favorite tables

  .card-body.p-0
    .table-responsive
      %table.table.table-hover.table-bordered.table-striped{ role: "grid" }
        %thead
          %tr
            %th.col-4 Name
            %th Description
        %tbody
          = render partial: "table_memo", collection: @favorite_tables
