- content_for :title, "Sign in"
.content
  %p.lead Required sign in to access Dmemo.
  = button_to google_oauth2_path(return_to: params[:return_to]), class: 'btn btn-secondary', method: :post do
    %i.fabs.fa-google
    %span Sign in with Google
