- content_for :title, "New Data Source"
- content_for :header do
  %h1.page-header New Data Source

  %ol.breadcrumb
    %li
      = link_to root_path do
        %i.fa-solid.fa-home
        Home
    %li
      = link_to setting_path do
        %i.fa-solid.fa-gear
        Setting
    %li.active
      New Data Source

.box
  = render "form"
