- content_for :title, "New Data Source"
- content_for :header do
  .row.mb-2
    .col
      %h1.m-0.text-nowrap New Data Source

    .col
      %ol.breadcrumb.float-sm-right
        %li.breadcrumb-item
          = link_to root_path do
            %i.fas.fa-home
            Home
        %li.breadcrumb-item
          = link_to setting_path do
            %i.fas.fa-gear
            Setting
        %li.breadcrumb-item.active
          New Data Source

.card
  = render "form"
