- content_for :header do
  %h1.page-header New Data Source

  %ol.breadcrumb
    %li
      = link_to root_path do
        %i.fa.fa-home
        Home
    %li
      = link_to "Data Sources", data_sources_path
    %li.active
      New Data Source

.box
  = render "form"
