- content_for :title, "#{@schema_memo.name} « Schema"
- content_for :header do
  .row.mb-2
    .col
      %h1.m-0.text-nowrap
        %span= @schema_memo.name

.card
  = render "shared/description_editor", memo: @schema_memo
