.card.data-card
  .card-header
    %h3.card-title View Query
  .card-body
    %pre
      %code= sql_query_format(@view_meta_data.query)

.card.data-card
  .card-header
    %h3.card-title View Query Plan
  .card-body
    %pre
      %code= @view_meta_data.explain

