- content_for :title, "#{@table_memo.name} « Table"
- content_for :header do
  .row.mb-2
    .col
      %h1.m-0.text-nowrap
        %span= @table_memo.name

.card
  = render "shared/description_editor", memo: @table_memo
