%nav.navbar.navbar-static-top{ role: "navigation" }
  .navbar-custom-menu
    - if current_user
      %ul.nav.navbar-nav
        %li
          = link_to setting_path do
            %i.fa-solid.fa-gear
            Setting
        %li
          = link_to edit_user_path(current_user) do
            %i.fa-solid.fa-user
            = current_user.name
        %li
          = link_to logout_path, method: :delete do
            %i.fa-solid.fa-arrow-right-from-bracket
            Sign-out
