- content_for :header do
  %h1.page-header
    Setting

  %ol.breadcrumb
    %li
      = link_to root_path do
        %i.fa.fa-home
        Home
    %li.active
      %i.fa.fa-gear
      Setting

.container-data_sources= render "data_sources"

.container-masked_data= render "masked_data"

.container-ignored_tables= render "ignored_tables"
