default: &default
  adapter: postgresql
  encoding: unicode
  username: postgres
  pool: 5

development:
  <<: *default
  database: dmemo_development

test:
  <<: *default
  database: dmemo_test

production:
  url: <%= ENV["DATABASE_URL"] %>
