.memo-block {
  .timeline-header {
    text-align: right;

    img {
      width: 20px;
      height: 20px;
    }
  }
}

.markdown-block {
  h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

a.editable-click, a.editable-click:hover {
  cursor: pointer !important;
  border-bottom: none !important;
}

.favorite-table-block {
  &.favorited .favorite-table-link {
    display: none;
  }
  &.unfavorited .unfavorite-table-link {
    display: none;
  }
}

.data-box {
  overflow: auto;
}

.sidebar-menu {
  li.treeview.opened .treeview-menu {
    display: block;
  }
}

.truncate-td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 0;
}

.leftmost-th {
  width: 400px;
}
