- content_for :title, "#{@database_memo.name} « Database"
- content_for :header do
  %h1.page-header
    %span= @database_memo.name

.box.box-info.with-border
  = render "shared/description_editor", memo: @database_memo
