- content_for :title, "#{@database_memo.name} « Database"
- content_for :header do
  .row.mb-2
    .col
      %h1.m-0.text-nowrap
        %span= @database_memo.name

.card
  = render "shared/description_editor", memo: @database_memo
