- content_for :title, "Keyword"
- content_for :header do
  .row.mb-2
    .col
      %h1.m-0.text-nowrap
        Keywords

    .col
      %ol.breadcrumb.float-sm-right
        %li.breadcrumb-item
          = link_to root_path do
            %i.fas.fa-home
            Home
        %li.breadcrumb-item.active
          Keywords

.card
  .card-header
    %h2.card-title Keywords

    .float-right
      = link_to new_keyword_path, class: "btn btn-primary" do
        %i.fas.fa-plus
        New
  .card-body.p-0
    .table-responsive
      %table.table.table-hover.table-bordered.table-striped{ role: "grid" }
        %thead
          %tr
            %th.col-4 Name
            %th Description
        %tbody
          - @keywords.each do |keyword|
            %tr
              %td.truncate-td= link_to keyword.name, keyword_path(keyword.name)
              %td.truncate-td= keyword.description_text.truncate(200)

