- content_for :title, "Keyword"
- content_for :header do
  %h1.page-header
    Keywords

  %ol.breadcrumb
    %li
      = link_to root_path do
        %i.fa-solid.fa-home
        Home
    %li.active
      Keywords

.box
  .box-header.with-border
    %h2.box-title Keywords

    .pull-right
      = link_to new_keyword_path, class: "btn btn-primary" do
        %i.fa-solid.fa-plus
        New
  .box-body
    %table.table.table-hover.table-bordered.table-striped{ role: "grid" }
      %tr
        %th.leftmost-th Name
        %th Description
      - @keywords.each do |keyword|
        %tr
          %td.truncate-td= link_to keyword.name, keyword_path(keyword.name)
          %td.truncate-td= keyword.description_text.truncate(200)

