.memo-block {
  .timeline-header {
    text-align: right;

    img {
      width: 20px;
      height: 20px;
    }
  }
}

.markdown-block {
  h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.page-header i.fa {
  vertical-align: text-bottom;
}

a.editable-click, a.editable-click:hover {
  cursor: pointer !important;
  border-bottom: none !important;
}

.favorite-table-block {
  &.favorited .favorite-table-link {
    display: none;
  }
  &.unfavorited .unfavorite-table-link {
    display: none;
  }
}
