- content_for :title, "Masked Data"
- content_for :header do
  %h1.page-header New Masked Datum

  %ol.breadcrumb
    %li
      = link_to root_path do
        %i.fa-solid.fa-home
        Home
    %li
      = link_to setting_path do
        %i.fa-solid.fa-gear
        Setting
    %li.active
      New Masked Datum

.box
  = render "form"
